.product-o2 {
	border-radius: 8px;
	overflow: hidden;
}
.product-o2 .product-o2__name > a {
	font-size: 18px;
	font-weight: 700;
}
.product-o2 .product-o2__name > a:hover {
	color: var(--color-green);
}
.product-o2 .product-o2__category > a:hover {
	color: #a0a0a0;
}
.product-o2 .product-o2__price {
	margin: 16px 0;
	font-size: 20px;
}
.product-o2 .btn--e-brand {
	background: var(--color-green);
	width: 100%;
	padding: 16px;
}
